.upcoming-games-header {
    margin-left: 20px;
}
h1 {
    text-align: center;
}
.mainSearch {
    display: flex;
    align-content: center;
    justify-content: center;
}
.mainSearch input{
    border: 1px solid black;
    border-radius: 4px;
}
 .mainSearch input[type=text]:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
    border-radius: 4px;
  }
  